.storage-file-browser-directory {
    position: relative;

    &.selected > .storage-file-browser-directory-name {
        color: white;
        font-weight: bold;
    }


    &:not(.root) {
        .storage-file-browser-directory-list {
            padding-left: 15px;
        }
    }
}

.storage-file-browser-directory-name {
    padding: $padding-small-vertical;
    cursor: pointer;
    border-radius: $border-radius-small;
    word-wrap: break-word;
    height: 32px;

    &:hover {
        color: white;
        background-color: $gray-lighter;
    }

    button {
        display: none;
    }

    &:hover button {
        display: block;
    }
}


.storage-file-browser-directory-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: $padding-small-vertical;
}


.storage-file-browser-file {
    padding: $padding-small-vertical $padding-small-horizontal;
    padding-left: $padding-small-horizontal + 17px;
    border-radius: $border-radius-small;
    word-wrap: break-word;
    height: 32px;

    &:hover {
        color: white;
        background-color: $gray-lighter;
    }

    button {
        display: none;
    }

    &:hover button {
        display: block;
    }
}
