@import "variables";

.create-storage-request-buttons {
    padding-bottom: $padding-base-vertical;
}

#index-storage-request-container {
    .user-storage-title {
        position: relative;

        .loader {
            position: absolute;
            right: $padding-base-horizontal;
            bottom: 0;
        }
    }

}

.center-text{
    text-align: center;
}

@import "components/storageRequestList";
